.hero-aboutus {
    margin-bottom: 120px;
    @media (min-width:1200px) {
      margin-bottom: 132px;
    }
    &__img {
      background-image: url(/assest/images/aboustus_mob_banner.png);
      width: 100%;
      height: 500px;
      border-radius: 10px;
      @media (min-width:768px) {
        background-image: url(/assest/images/banner.png);
      }
      @media (min-width:1200px) {
        background-image: url(/assest/images/banner.png);
        height:600px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      bottom: 30%;
      @media (min-width:768px) {
       justify-content: flex-start;
       align-items: flex-start;
       top: 20%;
       left: 16%;
       bottom: 20%;
      }
      @media (min-width:1200px) {
        // justify-content: center;
        align-items: flex-start;
        top: 206px;
        left: 94px;
        bottom: 0;
       }
       h1 {
        font-family: Fraunces;
        text-align: center;
        font-size: 40px !important;
        line-height: 40px;
        color: white;
        margin-bottom: 24px;
        @media (min-width:768px) {
         text-align:start;
         font-size: 48px !important;
         line-height: 48px;
        }
        }
      p {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #fefcf7;
        width: 300px;
        font-style: normal;
        font-weight: normal;
        opacity: 0.8;
        margin-bottom: 40px;
        @media (min-width:768px) {
          width: 400px;
          text-align: start;
        }
      }
    }
  }

  .our-commitment{
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;
      &__img img{
          width: 100%;
          height: 400px;
          margin-bottom: 48px;
      }
      &__content{
          h1{
              font-family: Fraunces;
              font-size: 32px;
              line-height: 48px;
              text-align: center;
              margin-bottom: 32px;
          }
          p{
              font-size: 15px;
              line-height: 25px;
              text-align: center;
              width: 327px;
          }
      }
  }

  .our-headquarters{
    margin-bottom: 120px;

    h1{
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        text-align: center;
        margin-bottom: 48px;
    }
    &__contentgroup{
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 88px;
            img{
                width: 32px;
                height: 48px;
                margin-bottom: 32px;
            }
            h1{
                font-family: Fraunces;
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 24px;
                color: #333D4B;
            }
            ul{
                list-style-type: none;
                text-align: center;
                padding: 0px;
                li{
                    font-size: 16px;
                    line-height: 26px;
                color: #333D4B;
                }
            }
        }
    }
  }

  .quality{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 120px;
      img{
          height: 156px;
          position: absolute;
         z-index: 9999;
         margin: -70px 0 64px 0;
         border-radius: 8px;
      }
      &__content{
          background-image: url(/assest/images/quality_backgroundimg.png );
          background-repeat: no-repeat;
          width: 327px;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #FEFCF7;
          text-align: center;
          padding: 24px;
          h1{
            font-family: Fraunces;
            font-size: 28px;
            line-height: 28px;
            margin: 64px 0 24px 0;
          }
          p{
            font-size: 15px;
            line-height: 25px;
          }
      }
  }