html {
  font-size: 14px;
  box-sizing: border-box;
}
*{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  background-color: #FEFCF7;
}
.crss-wrapper {
  padding: 24px 32px;
}
  
  .crss-main {
    margin-top: 32px;
  }
  .hero {
    margin-bottom: 120px;
    @media (min-width:1200px) {
      margin-bottom: 132px;
    }
    &__img {
      background-image: url(/assest/images/Bitmap.jpg);
      width: 100%;
      height: 500px;
      border-radius: 10px;
      @media (min-width:768px) {
        background-image: url(/assest/images/banner.png);
      }
      @media (min-width:1200px) {
        background-image: url(/assest/images/banner.png);
        height:600px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      bottom: 30%;
      @media (min-width:768px) {
       justify-content: flex-start;
       align-items: flex-start;
       top: 20%;
       left: 16%;
       bottom: 20%;
      }
      @media (min-width:1200px) {
        // justify-content: center;
        align-items: flex-start;
        top: 206px;
        left: 94px;
        bottom: 0;
       }
       h1 {
        font-family: Fraunces;
        text-align: center;
        font-size: 40px !important;
        line-height: 40px;
        color: white;
        @media (min-width:768px) {
         text-align:start;
         font-size: 48px !important;
         line-height: 48px;
        }
        }
      p {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #fefcf7;
        width: 300px;
        font-style: normal;
        font-weight: normal;
        opacity: 0.8;
        margin-bottom: 40px;
        @media (min-width:768px) {
          width: 400px;
          text-align: start;
        }
      }
      .content__btn {
        font-family: Fraunces;
        padding: 16px 30px;
        background: #0e8784;
        color: #fefcf7;
        border-radius: 6px;
        font-size: 18px;
        width: 216px;
        @media (min-width:768px) {
         
        }
      }
    }
    .content__btn:hover {
      background: #66d2cf;
    }
  }

  .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;

    &__img {
      background-image: url(/assest/images/our_collection_mob.png);
      background-repeat: no-repeat;
      width: 327px;
      height: 75px;
      margin-bottom: 16px;
      @media (min-width: 768px){
       background-image: url(/assest/images/our_collection_tab.png);
       background-repeat: no-repeat;
       width: 100%;
       height: 118px;
       margin-top: -120px;
      }
      @media (min-width: 1200px){
        background-image: url(/assest/images/our_collection.png);
        background-repeat: no-repeat;
        width: 1112px;
        height: 196px;
        margin-top: -120px;
       }
    }
    &__gird {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (min-width: 768px){
        margin-top: -64px;
      }
      @media (min-width: 1200px){
        flex-direction: row;
      }
    img{
      width: 200px;
      @media (min-width: 768px){
        img{
          width: 255px;
        }
      }
      @media (min-width: 1200px){
        img{
          width: 255px;
        }
      }
    }
       div {
        width: 100%;
        padding: 0 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px){
          flex-direction: row;
          text-align: start;
          align-items: flex-start;
        }
        @media (min-width: 1200px){
          flex-direction: column;
          text-align: center;
          align-items: center;
        }
      
        div{
          @media (min-width: 768px){
          flex-direction: column;
        }
          h1 {
            font-family: Fraunces;
            font-weight: 900;
            font-size: 24px !important;
            line-height: 32px;
            color: #333d4b;
            margin-top: 24px;
            margin-bottom: 16px;
          }
           p {
            width: 300px;
            font-family: Barlow;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 48px;
            @media (min-width: 1200px){
            width: 255px;
            }
          }
        }
      }
    }
  }

  .features {
    position: relative;
    margin-bottom: 510px;
    @media (min-width:768px) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 900px;
      border-radius: 10px ;
      @media (min-width:768px) {
        height: 572px;
      }
      @media (min-width:1200px) {
        height: 572px;
      }
    }

    &__content {
      position: absolute;
      top: 50px;
      left: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-family: Fraunces;
        font-size: 28px !important;
        line-height: 28px;
        margin-bottom: 32px;
        color: #fefcf7;
        @media (min-width:1200px) {
          font-size: 40px !important;
          line-height: 48px;
        }
      }
       p {
        font-family: Barlow;
        font-size: 15px;
        line-height: 25px;
        color: #fefcf7;
        width: 300px;
        text-align: center;
        @media (min-width:768px) {
          width: 540px;
        }
      }
    }
    &__cardgroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -580px 0 -348px 0;
      padding: 0 24px;
      @media (min-width:768px) {
      margin: -42% 0 0 0;
      }
      @media (min-width:1200px) {
        flex-direction: row;
        margin: -24% 0 0 0;
      }
      > div {
        background: #0e8784;
        border-radius: 8px;
        width: 100%;
        height: 382px;
        margin-bottom:24px;
        @media (min-width: 768px){
            height: 180px;
            width: 572px;
        }
        @media (min-width: 1200px){
          height: 382px;
          width: 350px;
          margin-right: 16px;
          .last-card{
            margin-right: 0;
          }
      }
         div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 40px;
          @media (min-width: 768px){
            flex-direction: row;
            padding: 32px 52px;
          }
          @media (min-width: 1200px){
            flex-direction: column;
            padding: 40px 48px;
          }
         img {
            width: 72px;
            height: 72px;
            margin-bottom: 24px;
            background-color: transparent;
            @media (min-width: 768px){
              margin: 0 52px 0 0;
            }
            @media (min-width: 1200px){
              margin: 0 0 52px 0;
            }
          }
          div{
            @media (min-width: 768px){
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
            }
            @media (min-width: 1200px){
              align-items: center;
              padding: 0px;
            }
            h1 {
              font-family: Fraunces;
              font-size: 24px !important;
              line-height: 32px;
              color: #fefcf7;
              margin-bottom: 24px;
              @media (min-width: 768px){
                margin-bottom: 16px;
              }
            }
            p {
              width: 250px;
              color: #fefcf7;
              font-family: Barlow;
              font-size: 16px;
              line-height: 26px;
              text-align: center;
              @media (min-width:768px) {
                width: auto;
                text-align: start;
              }
              @media (min-width:1200px) {
                width: auto;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .functions {
    padding: 100px 0;
    @media (min-width:768px) {
      margin: 0 0 0 70px;
    }
    @media (min-width:1200px) {
      margin: 0 0 0 70px;
    }
    & h1 {
      text-align: center;
      font-family: Fraunces;
      font-size: 24px !important;
      line-height: 32px;
      color: #83888f;
      margin-bottom: 60px;
      @media (min-width:768px){
        text-align: start;
      }
      @media (min-width:1200px){
        text-align: start;
      }
    }
    &__progress-bar {
      display: none;
      @media (min-width:768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      @media (min-width:1200px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &__grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width:768px){
        flex-direction: row;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        margin-bottom: 50px;
        @media (min-width:768px) {
          justify-content: start;
          align-items: flex-start;
        }
         span {
          font-family: Fraunces;
          font-size: 72px;
          line-height: 72px;
          color: #fdd6ba;
        }
         h1 {
          font-family: Fraunces;
          font-size: 28px !important;
          line-height: 32px;
          margin-top: 24px;
          margin-bottom: 24px;
          color: #333D4B;
          @media (min-width:768px){
            width: 224px;
          }
        }
         p {
          width: 300px;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          @media (min-width:768px){
            width: 224px;
            text-align: start;
          }
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width:768px) {
        justify-content: flex-start;
        align-items: flex-start;
      }
       span {
        font-family: Fraunces;
        padding: 16px 30px;
        background: #0e8784;
        color: #fefcf7;
        border-radius: 6px;
        font-size: 18px;
        width: 216px;
      }
    }
  }

  